body {
	margin: 0;
	padding: 0;
	font-family: monospace;
	background: #A60F2D;
	color: white;
}
input {font-family: monospace}
#welcome_container {
	width: 100vw;
	height: 100vh;
	content: " ";
	position: fixed;
	top: 0;
	left: 0;
	background: #4D4D4D;
	z-index: 88888888;
}
#welcome h1 {
	font-size: 2em;
}
#github_files {
	text-align: left;
	max-height: 200px;
	overflow-y: auto;
	border: 1px solid white;
	scrollbar-gutter: 10px;
}
::-webkit-scrollbar {width: 7px;}
::-webkit-scrollbar-track {background: transparent;}
::-webkit-scrollbar-thumb {background: white;border-radius:0px;}
#github_files details {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
}
#github_files summary {
	cursor: pointer;
}
#github_files a {
	display: inline-block;
	margin-left: 30px;
	color: white;
}
#welcome {
	position: fixed;
	top: 35vh;
	left: 25vw;
	width: 50vw;
	padding: 5px 50px 5px;
	box-sizing: border-box;
	min-height: 30vh;
	text-align: center;
	background: #A60F2D;
	z-index: 99999999;
}
#welcome p {
	text-align: left;
}
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 50px;
	border-bottom: 1px solid grey;
	padding: 0px 20px 0px;
}
header span {
	line-height: 50px;
}

footer span {line-height: 50px;}
main {
	background: #4D4D4D;
	position: fixed;
	top: 50px;
	left: 0;
	width: 100vw;
	height: calc(100vh - 50px - 50px);
	min-height: calc(100vh - 50px - 50px);
}
#watchval {
	font-size: 2em;
}

footer {
	user-select: none;
	text-align: center;
	position: fixed;
	bottom: 0;
	background: #A60F2D;
	left: 0;
	width: 100vw;
	height: 50px;
	border-top: 1px solid grey;
	padding: 0px 20px 0px;
	z-index: 999999;
}

.grid-stack-item {
	background: white;
	color: black;
	cursor: pointer;
	margin: 10px;
	/* height: calc( ( 100vh - 50px - 50px ) / 2.0 )!important; */
}
#map, #plot_c, #table {
	display: inline-block;
	width: 100%;
	height: 100%;
}
#map_el {
	width: 100%;
	height: 100%;
}
#map label {
    position: absolute;
    top: 0;
    right: 0;
    background: white;
    z-index: 9999;
	padding: 5px;
}
#map {
	height: calc(100% - 1rem);
	position: absolute;
}

input[type="range"] {
	width: 500px;
	vertical-align: middle;
}
